build/*
.vscode/*
.cache

.DS_Store

# Compiled object files
.o
.slo
.lo
.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.log
/Laboratory_2/build
/.venv
/Laboratory_2/tests/venv
Laboratory_2/tests/test_5m.txt
Laboratory_2/tests/test_mixed_5m.txt
